<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Zero Chill</title>

		<meta name="title" content="Zero Chill">
		<meta name="description" content="fast-paced browser FPS game.">

		<!-- Open Graph / Facebook -->
		<meta property="og:type" content="website">
		<meta property="og:url" content="http://slimed.zer0chill.io/">
		<meta property="og:title" content="Zero Chill">
		<meta property="og:description" content="fast-paced browser FPS game.">
		<meta property="og:image" content="meta.png">

		<!-- Twitter -->
		<meta property="twitter:card" content="summary_large_image">
		<meta property="twitter:url" content="http://slimed.zer0chill.io/">
		<meta property="twitter:title" content="Zero Chill">
		<meta property="twitter:description" content="fast-paced browser FPS game.">
		<meta property="twitter:image" content="meta.png">

		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
		
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<link rel="manifest" href="/site.webmanifest">
		<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
		<meta name="msapplication-TileColor" content="#2d89ef">
		<meta name="theme-color" content="#ffffff">

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	
		<!--<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap" rel="stylesheet">-->
		<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="/scripts/styles.css">

		<% if(stripePublicKey){ %>
			<script src="https://checkout.stripe.com/checkout.js" defer></script>
			<script type="text/javascript">
				window.stripePublicKey = '<%= stripePublicKey %>';
			</script>
		<% } %>

	</head>
	<body>
		
		

		<% if(user){ %>
		
			<%- include("loggedin.ejs"); %> 
		
		<% } %>
		<% if(!user){ %>
		
			<%- include("loggedout.ejs"); %>
		
		<% } %>
		
		<% if(user){ %>
		<script type="module" src="./logged.in.js" src=""></script>
		<% }else{ %>
		<script type="module" src="./logged.out.js" src=""></script>
		<% } %>

		
		<%- include("game.ejs") %>
		
		
		
	</body>
</html>
