<nav class="nav">
	<div class="user-display">
		<div class="top-right-info" id="debug"></div>
	</div>
</nav>
<% if( error.loginerror || error.signuperror){ %>
<section class="modal" id="user" style="display: block;">
<% }else{ %>
<section class="modal" id="user">
<% } %>
	<div class="modal-center">
		
		<% if(!error.loginerror && error.signuperror){ %>
			<div id="login" style="display:none">
		<% } else{ %>
			<div id="login">
		<% } %>
			<h2 class="user-header">Login</h2>
			
			<% if(error.loginerror){ %>
			<div class="login-error"> <%= error.loginerror %>  </div>
			<% } %>
			<form action="/login" method="post">
			    <section class="user-form-holder">
			        <label for="email">Email</label>
			        <input id="email" name="username" type="text" autocomplete="email" required autofocus >
			    </section>
			    
			    <section class="user-form-holder">
			        <label for="password">Password</label>
			        <input id="password" name="password" type="password" autocomplete="password" required>
			    </section>

			    <button class='user-btn' type="submit">Sign in</button>
			</form>
			<hr>
			<p class="help">
				Don't have an account? <a class="user-bottom"  id="show-sign-up">Sign up</a>
			</p>
			<p class="help">
				<a class="user-bottom"  id="forgot-password-btn">Forgot password?</a>
			</p>
		</div>
		<% if(error.signuperror && !error.loginerror){ %>
			<div id="sign-up" style="display:block">
		<% }else{ %>
			<div id="sign-up">
		<% } %>
			<h2 class="user-header">Signup</h2>
			<% if(error.signuperror){ %>
			<div class="login-error"> <%= error.signuperror %> </div>
			<% } %>
			<form action="/signup" method="post">
				<section class="user-form-holder">
			        <label for="email">Email</label>
			        <input id="email" name="email" type="email" autocomplete="email" required autofocus placeholder="unique email per user">
			    </section>
			    <section class="user-form-holder">
			        <label for="username">Tag</label>
			        <input id="username" name="username" type="text" autocomplete="username" required placeholder="repeats are allowed" minlength="3" maxlength="10">
			    </section>
				    <section class="user-form-holder">
			        <label for="password">Password</label>
			        <input id="password" name="password" type="password" autocomplete="password" required>
			    </section>
			    <button class='user-btn' type="submit">Sign up</button>
			</form>
			<hr>
			<p class="help">
				Already have an account? <a class="user-bottom" id="show-sign-in">Sign in</a>
			</p>
			
		</div>
		<div id="forgot-password">
			<form action="/forgot" method="post">
				<section class="user-form-holder">
			        <label for="email">Email</label>
			        <input id="email" name="email" type="email" autocomplete="email" required autofocus placeholder="unique email per user">
			    </section>
			    <section class="user-form-holder">
			        <label for="username">Tag</label>
			        <input id="username" name="username" type="text" autocomplete="username" required placeholder="repeats are allowed" minlength="3" maxlength="10">
			    </section>
				    <section class="user-form-holder">
			        <label for="password">Password</label>
			        <input id="password" name="password" type="password" autocomplete="password" required>
			    </section>
			    <button class='user-btn' type="submit">Sign up</button>
			</form>
		</div>
		<div id="close-login-btn" class="close-btn">Close</div>
	</div>
</section>