body{
	margin: 0px;
	padding: 0px;
	/*
	font-family: 'Nunito', sans-serif;
	*/
	font-family: 'Bebas Neue', sans-serif;
	background: #000;
}

.bots-stats-biggest{
		margin: 5px auto;
		font-size: 34px;
		width: 150px;
		text-align: center;
}

.bots-stats-lower{
	display: inline;
	font-size: 22px;
	margin-right: 20px;

}
.bots-score-mult{
	font-size: 14px;
}


#ad-holder-horizontal{
	width: 728px;
	height: 90px;
	background: #f00;
	position: absolute;
	margin-top: 80px;
	margin-left: -40px;
	overflow: hidden;
}

#ad-holder-right{
	width: 300px;
	height: 250px;
	background: #f00;
	display:inline-block; position:absolute; margin-left:600px;
	margin-top: 320px;
	overflow: hidden;
}

#ad-holder-left{
	display:inline-block; position:absolute; margin-left:-500px;
	width: 300px;
	height: 250px;
	background: #0f0;
	margin-top: 320px;
	overflow: hidden;
	/*
	position: relative;
	display: inline-block;
	margin-left: -600px;
	*/
}

.nav{
	color: white;
	z-index: 400;
	position: fixed; 
	top: 20px; 
	right: 20px; 
	width: 500px; 
	height:150px;
	text-align: right; 
	pointer-events: none;
}

.user-header{
	color: #000;
	margin-bottom: 20px;
	font-size: 30px;
}

#add-friend-btn{
	position: absolute;
	display: inline-block;
	margin-left: 10px;
	margin-top: 4px;
	cursor: pointer;
}

#add-friend-label{
	margin-right: 10px;
}
#add-friend-user-name{
	height: 26px;
}
#add-friend-label{
	display:inline;
	position:relative;
	top:5px;
}
#friends-list{
	margin-top: 20px;
	max-height: 60vh;
	overflow-y: auto;
}
.friends-holder{
	display: inline-block;
	margin: 10px auto;
	margin-bottom: 5px;
	margin-top: 2px;
	padding: 15px;
	outline: solid black thin;
	margin-bottom: 10px;
	width: 400px;
}
.friends-name{
	float: left;
}

.friends-right{
	float: right;
}
.friends-right div{
	display: inline-block;
	margin-right: 10px;
}
.friend-remove{
	cursor: pointer;
}

.friend-request-holder{
	margin: 10px auto;
	padding: 15px;
	display: inline-block;
	outline: solid black thin;
	margin-bottom: 10px;
	width: 300px;
	max-height: 60vh;
	overflow-y: auto;
}

.friend-request-left{
	float: left;
}
.friend-request-right{
	float: right;
}

.friend-request-right div{
	float: left;
	margin-left: 16px;
	cursor: pointer;
}


.top-right-info{
	display: inline;
}

#user-greeting{
	color: #000;
}
#user-modal{
	width: 600px;
}

#user-stats-holder{
	font-size: 20px;
	margin-top: 10px;
}

.items-holder{
	max-height: 60vh;
	overflow-y: auto;
	overflow-x: hidden;
}

#add-friend-success, #add-friend-error, #request-error{
	font-size: 16px;
	color: #555;
	margin-top: 10px;
}

#user-current-hype{
	text-align:left; padding-left:50px; font-size:50px;
}
#user-hype-message{
	text-align:left; padding-left:50px; font-size:20px;
	color: #555;
	margin-bottom:10px;

}

#bux-holder{
	max-height: 60vh;
	overflow-y: auto;
}
.items-individual-holder, .bux-buy{
	display: inline-block;
	margin-left: 25px;
	padding: 10px;
	height: auto;
	border: solid black thin;
	text-align: left;
	width: 500px;
	cursor: pointer;
}

.items-left, .bux-left{
	text-align: left;
	float: left;
}
.items-right, .bux-right{
	float: right;
}

.items-individual-desc, .bux-individual-desc{
	font-size: 20px;
	color: #555;
}

.items-individual-desc{
	font-size: 16px;
}
.items-individual-name, .bux-individual-name {
	font-size: 25px;
	display: inline-block;
}

.items-individual-price, .bux-individual-price{
	font-size: 32px;
	display: inline-block;
	margin-left: 10px;
}


.items-buy-overlay{
	position: absolute;
	margin-top: -80px;
	background: rgba(0,0,0,0);
	width: 80px;
	height: 80px;
}

.items-buy-overlay: hover, .play-btn: hover {
	background: rgba(0,0,0,.5);
}

.items-img, .bux-img{
	width: 80px;
}
.bux-img{
	width: 50px;
}

.items-individual-icon, .bux-individual-icon{
	
}

.logout{
	cursor: pointer;
	display: block;
	padding: 5px 10px;
	border-radius: 1px;
	font-size: 16px;
	border: thin solid #fff;
	background: rgba(0,0,0,0);
}

.user-btn{
	font-family: 'Bebas Neue', sans-serif;
	cursor: pointer;
	display: inline-block;
	padding: 10px 20px;
	border-radius: 1px;
	padding: 10px 20px;
	font-size: 20px;
	margin-top: 20px;
	border: thin solid #000;
	background: rgba(0,0,0,0);

}

.user-bottom{
	cursor: pointer;
	display: inline;
	padding: 4px 7px;
	border-radius: 1px;
	font-size: 16px;
	border: thin solid #fff;
	border-radius: 1px;
	border: thin solid #000;
	background: rgba(0,0,0,0);
}

.help{
	font-size: 16px;	
}

#login{
	display: block;
}

.user-form{
 width: 300px;
 height: auto;
 padding: 20px;
 text-align: center;
 background: #fff;
 margin: 0px auto;
}

#sign-up{
	display: none;
}

.user-form-holder{
	/*
	font-family: 'Nunito', sans-serif;
	*/
	font-family: 'Bebas Neue', sans-serif;
	font-size: 18px;
	margin-top: 20px;
	
}



#title{
	width: 500px;
	height: 200px;
	display: inline-block;
	/*
	background-size: 500px 250px;
	background-image: url("../assets/ui/title.png");
	*/
}

#xp-bar{
	margin: 10px auto;
	width: 600px;
	height: 40px;
	background: #fff;
}

#xp-error{
	color: #aaa;
	font-size: 16px;
}


#game-over-stats{
	font-size: 13px;
	text-align: center;

}

.user-section-holders{
	display: none;
	font-size: 25px;
	margin-top: 20px;
	margin-bottom: 20px;

}
#user-header-buttons-holder{

}
.user-header-buttons, .user-header-buttons-active{
	display: inline-block;
	margin: 5px 20px;
	font-size: 28px;
	cursor: pointer;
	max-width: 130px;
	overflow-x: hidden;
	text-decoration: none;

}	
.user-header-buttons : hover{
	text-decoration: underline;
}

.user-header-buttons-active{
	text-decoration: underline;
}

#game-over-stats div{
	display: inline-block;
	margin: 5px 10px;
}	

#loading{
	display: block;
}
#loading-centered{
	color: #fff;
	text-align: center;
	position: fixed;
	top: 50%;
	left: 50%;
	width: 300px;

	margin-left: -150px;
	height: 100px;
	margin-top: -50px;
	font-size: 20px;
}


#timer{
	position: fixed;
	top: 20px;
	font-size: 35px;
	left: 50%;
	margin-left: -100px;
	width: 200px;
	height: 60px;
	pointer-events: none;
	text-align: center;
	color: #fff;
	
}

#hud{
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 2;
	pointer-events: none;
	display: none;
}

#user-name{
  width: 300px;
  padding: 6px 4px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  pointer-events: auto;
}

#user-name-label{
  padding: 20px;
}

#recticle{
	position: fixed;
	left: 50%;
	top: 50%;
	width: 6px;
	height: 6px;
	margin-left: -3px;
	margin-top: -3px;
	border-radius: 6px;
	background: #ffffff;
}

#dmg-marker{
	position: fixed;
	left: 50%;
	top: 50%;
	width: 20px;
	height: 30%;
	margin-left: -10px;
	background: #f00;
	transform-origin: top center;
	background: linear-gradient(180deg, rgba(255,0,0,0) 0%, rgba(255,0,0,255) 100%);
	opacity: 0;
}
#hit-marker{
	display: none;
	position: fixed;
	left: 50%;
	top: 50%;
	width: 60px;
	height: 60px;
	margin-left: -30px;
	margin-top: -30px;
	background-image: url("../assets/ui/dmg-marker-bs.png");
	background-size: 60px 60px;
	/*outline: #f00 solid thin;*/
}
#kills-bots{
	position: fixed;
	top: 20px;
	right: 20px;
	font-size: 20px;
	text-align: left;
	color: #fff;
}
#hud-bottom-left-holder{
	position: absolute;
	bottom: 40px;
	left: 40px;
}
#hud-bottom-right-holder{
	position: absolute;
	bottom: 40px;
	right: 40px;
}
#hud-top-right-holder{
	position: absolute;
	bottom: 40px;
	right: 40px;
}


#health-outline{
	position: absolute;
	bottom: 27px;
	width: 150px;
	height: 24px;
	background-image: url("../assets/ui/health-outline-LOW.png");
	background-size: 150px 24px;
}

#health-fill{
	position: absolute;
	bottom: 27px;
	left: 0px;
	width: 150px;
	height: 24px;
	background-image: url("../assets/ui/health-fill-LOW.png");
	background-size: 150px 24px;
	overflow-x: hidden;
}

#boost-outline{
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 150px;
	height: 24px;
	background-image: url("../assets/ui/boost-outline-LOW.png");
	background-size: 150px 24px;
}

#boost-fill{
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 150px;
	height: 24px;
	background-image: url("../assets/ui/boost-fill-LOW.png");
	background-size: 150px 24px;
}

#abilities-holder{
	position: absolute;
	bottom: -10px;
	left: 165px;
	width:300px;
	height: 60px;
	color: white;
	text-align: right;
}
.ability-outline{
	width: 80px;
	height: 39px;
	top: 0px;
	background: url("../assets/ui/abilities-tall-LOW.png");
	background-size: 80px 39px;
	text-align: center;
	padding-top: 5px;
	font-size: 20px;
	background-repeat: no-repeat;

}
.ability-fill{
	position: absolute;
	width: 80px;
	height: 39px;
	top: 0px;
	background: url("../assets/ui/abilities-fill-tall-LOW.png");
	background-size: 80px 38px;
	transform-origin: 50% 100%;
}
.ability{
	width: 80px;
	height: 80px;
	float: left;
	margin-right: 12px;
}

.ability-name{
	width: 80px;
	text-align: center;
	font-size: 10px;
}
.passive{
	height: 10px;
}

#passive-ability{
	position: absolute;
	bottom: -22px;
	left: 0px;
	width: 150px;
	height: 20px;
	font-size: 12px;
	text-align:center;
	color: #fff;
}

#health-number{
	position: absolute;
	bottom: 45px;
	left: -10px;
	width: 80px;
	height: 48px;
	color: white;
	text-align: right;
	
}
#total-health{
	position: absolute;
	width: 50px;
	height: 48px;
	margin-left: 65px;
	margin-top: 20px;
	font-size: 15px;
}
#current-health{
	position: absolute;
	left: 0px;
	width: 75px;
	height: 48px;
	color: white;
	font-size: 35px;
	text-align: right;
}

#reloading{
	position: fixed;
	bottom: 30px;
	width: 300px;
	height: 40px;
	left: 50%;
	margin-left: -150px;
	text-align: center;
	color: white;
	font-size: 25px;
	display: none;
}
/*
#weapon-icon{
	position: absolute;
	bottom: 0px;
	right: 280px;
	width: 130px;
	height: 60px;
	background-image: url("../assets/ui/weapon-LOW.png");
	background-size:130px 60px;
}
*/

#weapon-icon{
	position: absolute;
	bottom: -10px;
	right: 100px;
	width: 169px;
	height: 78px;
	background-image: url("../assets/ui/weapon-LOW.png");
	background-size:169px 78px;
}

#ammo-amount-holder{
	position: absolute;
	bottom: 20px;
	right: 0px;
	width: 130px;
	height: 60px;
	color: white;
}

#ammo-amount{
	position: absolute;
	bottom: 0px;
	right: 58px;
	width: 60px;
	height: 35px;
	font-size: 35px;
	text-align: right;
}

#ammo-amount-total{
	position: absolute;
	bottom: 0px;
	right: 15px;
	width: 40px;
	height: 20px;
	font-size: 17px;
}

#overlay{
	display: none;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 3;
	background: rgba(0,0,0,.4);
}

#center{
	width: 780px;
	margin: 0px auto;
	text-align: center;
	max-height:100%; 
	overflow-y:auto; 
	overflow-x:visible;
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 50px;
}
h1{
	font-size: 70px;
	margin-top: 10px;
	color: #fff;
}
h2{
	margin: 3px 0px;
	color: #fff;
}
#class-select{
	color: #fff;
	
	margin-top: -50px;
}
#all-classes{
	overflow-x: hidden;
	overflow-y: hidden;
	width: 150px;
	float: left;
}
#instructions{
	display: inline-block;
	text-align: left;
	margin-left: 0px;
	margin-top: -10px;
}

#player-select-character{
	width: 400px;
	height: 250px;
	margin-left: 20px;
	float: left;
}

#player-skins{
	width: 90px;
	height: 250px;
	float: left;
	overflow-y: auto;
	overflow-x: hidden;
	margin-right: 10px;
}
.swatch-btn, .swatch-btn-active{
	width: 60px;
	height: 60px;
	margin-left: 2px;
	margin-top: 2px;
	border: none;
	border-radius: 30px;
	margin-bottom: 8px;
	outline: 1px solid black;
	background-size: 100%;
}
.swatch-btn-active{
	outline: 1px solid white;
}

.skins-non-interactive{
	opacity: .5;
	/*pointer-events: none;*/
}
.skins-interactive{
	
}


.class-btn, .class-btn-active{
	cursor: pointer;
	width: 148px;
	height: 30px;
	padding-top: 10px;
	border: thin solid #fff;
	color: #ffffff;
	font-size: 15px;
	background: rgba(0,0,0,0);
	cursor: pointer;
}
.class-btn-active{
	background: rgba(255,255,255,.2);
}


#movement-select-holder{
	width: 100%;
	text-align: center;
	margin-top: 20px;
}
.movement-btn, .movement-btn-active{
	cursor: pointer;
	display: inline;
	padding: 10px 20px;
	border-radius: 1px;
	padding: 10px 20px;
	border: thin solid #fff;
	background: rgba(0,0,0,0);
}
.movement-btn-active{
	background: rgba(255,255,255,.2);
	
}

#play-holder{

	width: 100%;
	text-align: center;
	margin-top: 50px;
}
.play-btn{
	cursor: pointer;
	display: inline;
	padding: 10px 20px;
	border-radius: 1px;
	padding: 10px 20px;
	font-size: 25px;
	border: thin solid #fff;
	background: rgba(0,0,0,0);
}

.class-btn:hover, .movement-btn:hover {
	background: rgba(255,255,255,.2);
	text-decoration: none;
}

.btn {
	text-align: center;
	width: 150px;
	height: 30px;
	-webkit-border-radius: 24;
	-moz-border-radius: 24;
	border-radius: 1px;
	padding: 10px 20px;
	border: thin solid #fff;
	color: #ffffff;
	font-size: 15px;
	background: rgba(0,0,0,0);
	cursor: pointer;
	text-decoration: none;
}

#player-list{
	width: 600px;
	text-align: left;
	display: none;
	background: rgba(0,0,0,.4);
	padding: 20px;
}

#game-over{
	width: 600px;
	text-align: left;
	display: none;
	color: white;
	padding: 20px;
	font-size: 30px;
	text-align: center;
}
.player-info{
	font-size: 20px;
	color: #fff;
	padding: 20px 8px;
	margin-top: 10px;
	padding-bottom: 40px;
	background: rgba(255,255,255,.1);
}
.curr-player{
	color: #ffff56;
}
.kill-count{
	display: block;
	float: right;
}
.player-name{
	display: block;
	float: left;
}


#nav-bar-right{
	position: fixed;
	bottom: 10px;
	right: 30px;
	width: 40px;
	height: 150px;
	z-index: 200;
	text-align: center;
}
.room-buttons{
	display: inline-block;
	cursor: pointer;
	border-radius: 1px;
	padding: 5px 10px;
	border: thin solid #fff;
	background: rgba(0,0,0,0);
	margin-bottom: 20px;
}

.clear{
	clear: both;
}

.room-buttons{
	display: block;
	cursor: pointer;
	border-radius: 1px;
	padding: 5px 10px;
	border: thin solid #fff;
	background: rgba(0,0,0,0);
	margin-bottom: 20px;
}

.bottom-bar-btns{
	display: block;
	margin-bottom: 10px;
	width: 40px;
	height: 40px;
	background-size: 40px 40px;
	cursor: pointer;
}

#servers-btn{
	background: url("/assets/nongameui/server.svg") ;
	background-size: 40px 40px;
}
#settings-btn{
	background: url("/assets/nongameui/settings.svg") ;
	background-size: 40px 40px;
}
#user-btn{
	background: url("/assets/nongameui/user-white.svg") ;
	background-size: 40px 40px;
}

/*#settings, #servers, #login{*/
.modal{
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	color: #000;
	z-index: 200;
	background: rgba(0,0,0,.5);
}

#settings-top, #servers-top{
	color: #000;
}
.modal-center{
/*#settings-center, #servers-center{*/
	width: 400px;
	margin: 20px auto;
	text-align: center;
	background: #fff;
	padding: 20px;
}

.settings-sub{
	margin-bottom: 20px;
}
#error-message{
	padding: 40px 20px;
}
.servers-sub{
	cursor: pointer;
	margin-bottom: 20px;
	padding: 10px 20px;
	border-radius: 1px;
	padding: 10px 20px;
	font-size: 18px;
	border: thin solid #000;
	background: rgba(0,0,0,0) important;
}

.server-active{
	cursor: pointer;
	margin-bottom: 20px;
	padding: 10px 20px;
	border-radius: 1px;
	padding: 10px 20px;
	font-size: 18px;
	border: thin solid #000;
	background: rgba(0,0,0,.4);
}

.settings-left, .servers-left{
	float: left;
}

.settings-right, .servers-right{
	float: right;
}

.settings-input-number{
  width: 50px;
  padding: 6px 4px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  pointer-events: auto;
}
.settings-input-hex{
  width: 90px;
  padding: 6px 4px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  pointer-events: auto;
}


.close-btn{
	cursor: pointer;
	display: inline-block;
	padding: 10px 20px;
	border-radius: 1px;
	padding: 10px 20px;
	font-size: 20px;
	margin-top: 20px;
	border: thin solid #000;
	background: rgba(0,0,0,0);
}

